main{
    display: flex;
    margin-top: 20px;
}
main h2 {
    margin: 30px;
}

main p {
    margin: 0, 15px;
}
main div{
    width: 60%;
    text-align: justify;
    align-items: center;
    margin-right: 150px;
    margin-left: 50px;
}